<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.yunxiao.server.mapper.yx.CoreUserMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.yunxiao.server.entity.yx.CoreUser">
    <id column="id" jdbcType="NCHAR" property="id" />
    <result column="user_name" jdbcType="NVARCHAR" property="userName" />
    <result column="real_name" jdbcType="NVARCHAR" property="realName" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="phone" jdbcType="NVARCHAR" property="phone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="lastlogin_time" jdbcType="TIMESTAMP" property="lastloginTime" />
    <result column="role_names" jdbcType="NVARCHAR" property="roleNames" />
  </resultMap>
</mapper>