<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.yunxiao.server.mapper.yx.CoreAgreementMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.yunxiao.server.entity.yx.CoreAgreement">
    <id column="id" jdbcType="NCHAR" property="id" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="agentname" jdbcType="NVARCHAR" property="agentname" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="content" jdbcType="NVARCHAR" property="content" />
    <result column="creator_id" jdbcType="NVARCHAR" property="creatorId" />
    <result column="creator_name" jdbcType="NVARCHAR" property="creatorName" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="lastoperator_id" jdbcType="NVARCHAR" property="lastoperatorId" />
    <result column="lastoperator_name" jdbcType="NVARCHAR" property="lastoperatorName" />
    <result column="lastoperation_time" jdbcType="TIMESTAMP" property="lastoperationTime" />
  </resultMap>
  
  <select id="queryByAgentId" resultType="java.util.Map">
     select type,content
     from core_agreement
     where agent_id=#{agentId}
  
  </select>
</mapper>