<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.yunxiao.server.mapper.yx.SubDictonaryMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.yunxiao.server.entity.yx.SubDictonary">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
  </resultMap>
</mapper>