<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.yunxiao.server.mapper.products.ProductsChildrenMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.yunxiao.server.entity.products.ProductsChildren">
    <id column="Id" jdbcType="CHAR" property="id" />
    <id column="ChildrenId" jdbcType="CHAR" property="childrenid" />
    <result column="Title" jdbcType="NVARCHAR" property="title" />
    <result column="ChildrenTitle" jdbcType="NVARCHAR" property="childrentitle" />
    <result column="IsDonation" jdbcType="TINYINT" property="isdonation" />
    <result column="DonationPrice" jdbcType="DECIMAL" property="donationprice" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="ProductsType" jdbcType="TINYINT" property="productstype" />
  </resultMap>
  <select id="selectCourseChilds" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select Id,ChildrenId,Title,ChildrenTitle,IsDonation,DonationPrice,sort,ProductsType
  	from ProductsChildren where Id = #{productId} order by ProductsType asc, sort asc
  </select>
  <select id="selectByParentIds" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select Id,ChildrenId,Title,ChildrenTitle,IsDonation,DonationPrice,sort,ProductsType
  	from ProductsChildren where Id in
  	<foreach collection="list" item="pid" separator="," open="(" close=")">
  		#{id}
  	</foreach>
  </select>
  
</mapper>